html
	head
		title nth-dimension cube
		link(rel="stylesheet" href="stylesheets/master.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body
		.center
			main
				h1
					| Rendering a shit-tonne of dimentions on a 2D canvas (
					a(href="https://github.com/ninivert/N-Dimension-Cube-Renderer" target="_blank") source code
					| )
				.row
					.render
						canvas#canvas

					.controls
						.row
							span Dimension
								small Goes from 2 to 10 (Warning: high dimensions are laggy)
							form#dimension
						.row
							span Scaling
								small How large the figure is
							form#scaling
						.row
							span Speed
								small How fast the figure is spinning
							form#speed
						.row
							span Distance
								small Works only on a non-isometric projection
							form#distance
						.row
							span Isometric projection
								small Non-isometric projections need large scaling
							form#isometric
						.row
							span Rotations
								small Enable the rotation of planes defined by the axes
							form#rotations

		script(src="scripts/matrix.js")
		script(src="scripts/vertex.js")
		script(src="scripts/projection.js")
		script(src="scripts/rotation.js")
		script(src="scripts/draw.js")
		script(src="scripts/index.js")
		script(src="scripts/controls.js")